.customer-add {
    .rjsf fieldset {
        margin-top:0;
    }
    form > div {
        column-count:3;
        column-gap:3rem;
        .form-group {
            padding: .75rem 0;
            margin-bottom:0;
            .field-input-wrapper {
                display:block;
            }
            break-inside:avoid;
        }
        @media(max-width:45rem){
            column-count:2;
        }
        @media(max-width:30rem){
            column-count:1;
        }
    }
    .panel {
        column-count:1;
    }
}