.customer-add {
    .rjsf fieldset {
        margin-top:0;
    }
    form > div {
        column-count:3;
        column-gap:3rem;
        .form-group {
            padding: .75rem 0;
            margin-bottom:0;
            .field-input-wrapper {
                display:block;
            }
            break-inside:avoid;
        }
        @media(max-width:45rem){
            column-count:2;
        }
        @media(max-width:30rem){
            column-count:1;
        }
    }
    .panel {
        column-count:1;
    }
    .alt-date {
        display:flex;
        justify-content:space-between;
        select {
            margin:0;
            width:23%;
            width:calc(23% - .66rem);
            &.year {
                width:calc(27% - .66rem);
            }
            &.month {
                width:50%;
                width:calc(50% - .66rem);
                flex-shrink:0;
            }
        }
        @media(max-width:66rem) {
            flex-wrap:wrap;
            align-items:flex-end;
            select {
                width:49%;
                width:calc(50% - .5rem);
                ~ select {
                    margin-top:1rem;
                }
                &.month {
                    width:100%;
                }
            }
        }
    }
}