<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cemaritan</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <!--<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/_all-skins.min.css">

    <%if (settings.env === 'production') { %>
    <link rel="stylesheet" href="/styles/app/styles.css">
    <% } %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body class="skin-blue sidebar-mini" style="height: 100%;">
    <%- body %>


    <!-- VENDOR SCRIPTS // WE SHOULD COMBINE THESE LATER :) -->

    <script src="/js/app/vendor/jquery.min.js"></script>
    <script src="/js/app/dependencies/sails.io.js"></script>
    <script src="/js/app/vendor/react-with-addons-15.3.1.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script> -->
    <script src="/js/app/vendor/react-dom-15.3.1.min.js"></script>
    <script src="/js/app/vendor/redux.min.js"></script>
    <script src="/js/app/vendor/react-redux.min.js"></script>
    <script src="/js/app/vendor/ReactRouter-2.6.0.min.js"></script>
    <script src="/js/app/vendor/History-2.1.2.min.js"></script>

    <!-- WEBPACK SCRIPT BUNDLE -->

    <script src="/js/app/bundle.js"></script>

    <!-- auth0 lock -->
    <script src="https://cdn.auth0.com/js/lock/10.8/lock.min.js"></script>

    <!-- jQuery 2.2.4 -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
    <!-- Bootstrap 3.3.6 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/demo.js"></script> -->

   <!-- FreshChat -->
    <script type='text/javascript'>
        var fc_JS=document.createElement('script');fc_JS.type='text/javascript';
        fc_JS.src='https://assets1.freshchat.io/production/assets/widget.js?t='+Date.now();
        (document.body?document.body:document.getElementsByTagName('head')[0]).appendChild(fc_JS);
        window._fcWidgetCode='W6OZ5J0PGK';
        window._fcURL='https://globalhack.freshchat.io';
    </script>
  </body>
</html>
