@import 'colors';
@import 'misc';

button {
    &, &.primary {
        background-color:$color1;
        color:$color2;
        border:none;
        border-radius:$inputBorderRadius;
        font-size:1rem;
        padding:$inputPadding;
        cursor:pointer;
        transition:background-color 350ms ease;
        &:hover {
            background-color:darken($color1, 15%);
        }
    }
}