/* ---------- */
/* COLORS --- */
/* ---------- */
$linkColor: #337ab7;

$labelColor: #333;

$inputColor: #555;
$inputFocusBorderColor:#66afe9;

$primaryButtonBackgroundColor:#286090;
$primaryButtonHoverBackgroundColor: #286090;

$secondaryButtonBackgroundColor:#333;
$secondaryButtonBorderColor:#333;
$secondaryButtonHoverBackgroundColor:white;

/* --------------- */
/* BACKGROUNDS --- */
/* --------------- */
$bodyBackground: #f4f5f5;

/* ------------------------ */
/* BORDERS & SEPARATORS --- */
/* ------------------------ */
$borderColor: #b0bfc8;