@import 'colors';

.field-input-wrapper {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.form-group {
    padding:.75rem 1.5rem;
    &:nth-child(odd){
        background:rgba(255,255,255,.5);
    }
    label {
        margin:0;
    }
}
fieldset legend {
    padding:0 1.5rem;
}