$borderColor: #eaeaea;

.boolean-input {
    input[type="checkbox"] { display:none; }
    flex-shrink:0;
    .boolean-toggles {
        background:white;
        text-transform:uppercase;
        position:relative;
        border:1px solid $borderColor;
        font-weight:500;
        span {
            padding:.1em 0;
            width:2.5em;
            display:inline-block;
            text-align:center;
            position:relative;
        }
        &:after {
            content:'';
            height:100%;
            width:50%;
            background:white;
            border-left:1px solid $borderColor;
            border-right:1px solid $borderColor;
            position:absolute;
            left:0; top:0;
            transition:margin 350ms ease;
        }
    }
    input:checked ~ .boolean-toggles {
        &:after {
            margin-left:50%;
        }
    }
}