$borderColor: #d2d6de;

.boolean-input {
    input[type="checkbox"] { display:none; }
    flex-shrink:0;
    width:9.25rem;
    .boolean-toggles {
        background:white;
        text-transform:uppercase;
        position:relative;
        border:1px solid $borderColor;
        font-weight:500;
        display:flex;
        span {
            padding:0;
            display:inline-block;
            text-align:center;
            position:relative;
            width:50%;
            line-height:32px;
        }
        &:after {
            content:'';
            height:100%;
            width:50%;
            background:white;
            border-left:1px solid $borderColor;
            border-right:1px solid $borderColor;
            position:absolute;
            left:-1px; top:0;
            margin-left:0;
            transition:margin 200ms ease, left 200ms ease;
        }
    }
    input:checked ~ .boolean-toggles {
        &:after {
            margin-left:50%;
            left:1px;
        }
    }
}