$borderColor: #d2d6de;

.increment-input {
    font-size:1.25em;
    line-height:32px;
    border:1px solid $borderColor;
    background:white;
    width:9.25rem;
    display:flex;
    > * {
        flex-grow:1;
        text-align:center;
    }
}
.incrementor {
    padding:0 .5em;
    &.minus {
        border-right:1px solid $borderColor;
        margin-right:.25em;
    }
    &.plus {
        border-left:1px solid $borderColor;
        margin-left:.25em;
    }
}