@import 'imports/colors';
@import 'imports/fonts';
@import 'imports/forms';

* {
    box-sizing:border-box;
    &:after, &:before {
        box-sizing:inherit;
    }
}
html, body {
    margin:0; padding:0;
}

/* BUG FIXES --- */
.content-wrapper {
    min-height:calc(100vh - 9.25rem);
}
.main-footer {
    font-size:1.5rem;
    padding:1.25rem;
    &:after {
        content:'';
        display:block;
        clear:both;
    }
}
.content-wrapper > .content > [class*="col-"] {
    padding-left:0;
    padding-right:0;
}