@import 'imports/colors';
@import 'imports/fonts';
@import 'imports/forms';

* {
    box-sizing:border-box;
    &:after, &:before {
        box-sizing:inherit;
    }
}
html, body {
    margin:0; padding:0;
}