@import 'imports/colors';
@import 'imports/fonts';
@import 'imports/misc';

* {
    box-sizing:border-box;
    &:after, &:before {
        box-sizing:inherit;
    }
}
::selection {
    background:lighten($linkColor, 10%);
    color:white;
}
body {
    font-family:$baseFontFamily;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight:300;
    font-size:1.25rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family:$headlineFontFamily;
    font-weight:400;
}

@media(max-width:800px) {
    html {
        font-size:85%;
    }
}

@media(max-width:400px) {
    html {
        font-size:75%;
    }
}