.icon-wrapper, .icon-container {
    max-width:800px;
    margin:0 auto;
}
.icon-wrapper {
    padding:2rem 1rem;
    h3 {
        margin:1.5em 0 .5em;
    }
}
.icon-container {
    display:flex;
    flex-wrap:wrap;
}
.the-icons {
    width:30%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    span {
        font-size:.95rem;
    }
    .i-code {
        display:none;
    }
    &.show-codes {
        .i-name {
            display:none;
        }
        .i-code {
            display:inline-block;
        }
    }
}